# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-latest'
    mac:
      imageName: 'macos-latest'
    windows:
      imageName: 'windows-latest'

pool:
  vmImage: $(imageName)
  
trigger:
  branches:
    include:
    - develop
    - feature/*
    - hotfix/*
    - release/*
    - master

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: PowerShell@2
  condition: eq(variables.imageName, 'windows-latest')
  inputs:
    targetType: inline
    pwsh: true
    script: 'choco install -y docfx'
  displayName: Install docfx

- task: PowerShell@2
  condition: eq(variables.imageName, 'windows-latest')
  inputs:
    targetType: inline
    pwsh: true
    script: 'choco install codecov'
  displayName: Install codecov

- task: DotNetCoreInstaller@0
  inputs:
    packageType: 'sdk'
    version: '2.2.300' 
  displayName: Install .NET Core 2 latest
  env:
   DOTNET_CLI_TELEMETRY_OPTOUT: false
   DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

- task: PowerShell@2
  inputs:
    targetType: inline
    pwsh: true
    script: 'dotnet tool install --global coverlet.console'
  env:
   DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  displayName: Install coverlet

- task: PowerShell@2
  inputs:
    targetType: inline
    pwsh: true
    script: 'dotnet tool install --global git-flow-version'
  env:
   DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  displayName: Install git-flow-version


- task: NuGetToolInstaller@1
  inputs:
    versionSpec: '5.1.0'
    checkLatest: true
  env:
   DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  displayName: Install NuGet

- task: InstallSSHKey@0
  condition: eq(variables.imageName, 'windows-latest')
  inputs:
    knownHostsEntry: 'github.com, ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=='
    sshPublicKey: 'secdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAAvZmttHSrJ2SHfXJJImvVWn70vLDh9jetSBwBsjK3MEEES7CBAabuJvPtXqPLQxDngkW4GJTqbrqDzp2YDHejhTAA8trE+sbFUXHDNbC3lwFdyeLA5YD0Kmmq7V7UIpK0h3khjowu4Ivgp6yP1bXl/3iOyVBENkK+Gx6aryPVkRN9ipQ== Azure-pipeline-site'
    sshKeySecureFile: 'DashDashVersionSiteAzurePipeline'
  displayName: Install sshKey for documentation publishing

- task: InstallSSHKey@0
  condition: eq(variables.imageName, 'ubuntu-latest')
  inputs:
    knownHostsEntry: 'github.com, ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=='
    sshPublicKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF6/HvdVdOqxei+waWEWBR9u3zwx9TZtyeYuIqs2uBL0 Azure-pipeline'
    sshKeySecureFile: 'GithubDeploymentKey'
  displayName: Install sshKey for tagging
  
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    feedsToUse: 'select'
  displayName: Dotnet Restore

- task: PowerShell@2
  condition: eq(variables.imageName, 'windows-latest')
  inputs:
    targetType: inline
    pwsh: true
    script: 'New-Item -ItemType Directory "built"'
  displayName: Create built folder

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    arguments: '/p:CollectCoverage=true /p:Exclude=[xunit.*]* /p:CoverletOutput=''../../built/DashDashVersion.xml'' /p:CoverletOutputFormat=cobertura'
    testRunTitle: 'Running tests'
  displayName: Running Tests

- task: PowerShell@2
  condition: eq(variables.imageName, 'windows-latest')
  inputs:
    targetType: inline
    pwsh: true
    script: 'codecov -f "./built/DashDashVersion.xml" -t $env:CodecovToken'
  env:
    CodecovToken: $(CodecovToken)
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  displayName: Publish code coverage

- task: PowerShell@2
  displayName: Calculating version
  inputs:
    targetType: 'inline'
    script: |
      $version= git-flow-version --branch $env:BUILD_SOURCEBRANCHNAME | ConvertFrom-Json
      Write-Host "calculated version:"
      $version | Format-List
      echo "##vso[task.setvariable variable=SemVer]$($version.SemVer)"
      echo "##vso[task.setvariable variable=FullSemVer]$($version.FullSemVer)"
      echo "##vso[task.setvariable variable=AssemblyVersion]$($version.AssemblyVersion)"

- task: PowerShell@2
  condition: eq(variables.imageName, 'windows-latest')
  displayName: Create assembly info
  inputs:
    targetType: 'inline'
    script: |
      $assemblyInfoContent = @"
      // <auto-generated/>
      using System.Reflection;
      using System.Runtime.InteropServices;

      [assembly: AssemblyVersionAttribute("$($env:AssemblyVersion)")]
      [assembly: AssemblyFileVersionAttribute("$($env:AssemblyVersion)")]
      [assembly: AssemblyInformationalVersionAttribute("$($env:FullSemVer)")]
      "@
      $assemblyInfoContent | Out-File -Encoding utf8 (Join-Path "built" "SharedAssemblyInfo.cs") -Force
  env:
    FullSemVer: $(FullSemVer)
    SemVer: $(SemVer)
    AssemblyVersion: $(AssemblyVersion)

- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: './src/*/*.csproj'
    packDirectory: './built'
    versioningScheme: 'byEnvVar'
    versionEnvVar: 'FullSemVer'
  displayName: Creating packages dotnet task

- task: PowerShell@2
  condition: eq(variables.imageName, 'ubuntu-latest')
  displayName: Tagging build
  inputs:
    targetType: 'inline'
    script: |
      if (Test-Path "./.git/refs/tags/$($env:SemVer)") {
      Write-Host "Tag: $($env:SemVer) is already pressent in the repository!"
      }
      else
      {
      git remote set-url origin git@github.com:hightechict/DashDashVersion.git
      git tag $env:SemVer
      git push --verbose origin $env:SemVer 
      }
    errorActionPreference: 'continue'
  env:
    SemVer: $(SemVer)

- task: PowerShell@2
  condition: and(eq(variables.imageName, 'windows-latest'),not(contains(variables['Build.SourceBranch'],'/feature/'))) 
  displayName: Pushing NuGet package
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Publishing NuGet package"
      pushd built
      dotnet nuget push *.nupkg --api-key $env:NuGet_APIKEY --no-symbols true --source https://api.nuget.org/v3/index.json 
      popd
  env:
    NuGet_APIKEY: $(nuget.APIKEY)
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

- task: PowerShell@2
  condition: and(eq(variables.imageName, 'windows-latest'),contains(variables['Build.SourceBranch'],'/master')) 
  displayName: Generating documentation
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Generating Documentation"
      Copy-Item README.md doc/index.md
      docfx ./doc/docfx.json

- task: PythonScript@0
  displayName: Download site Directory
  condition: and(eq(variables.imageName, 'windows-latest'),contains(variables['Build.SourceBranch'],'/master')) 
  inputs:
    scriptSource: 'inline'
    script: |
      import os
      artifactsDirectory = os.environ['Build_ArtifactStagingDirectory']
      siteDirectory = artifactsDirectory.join('''\DashDashVersion_site''')
      os.chdir(artifactsDirectory)
      os.system('git clone --progress -v git@github.com:hightechict/DashDashVersion_site.git --branch master')

- task: PowerShell@2
  condition: and(eq(variables.imageName, 'windows-latest'),contains(variables['Build.SourceBranch'],'/master'))
  displayName: Prepairing repo
  inputs:
    targetType: 'inline'
    script: |
      $PathOfOrigin = Get-Location;
      cd "$($env:Build_ArtifactStagingDirectory)/DashDashVersion_site"
      write-Host "Base site folder"
      Remove-Item -recurse "$(Get-Location)\*" -exclude CNAME,*.git
      write-Host "Cleaned folder"
      Copy-Item "$($PathOfOrigin)\doc\_site\*" -Destination $PathToDocumentationFolder -recurse -Force
      write-Host "New site folder"

- task: PythonScript@0
  displayName: Push new documentation
  condition: and(eq(variables.imageName, 'windows-latest'),contains(variables['Build.SourceBranch'],'/master'))
  inputs:
    scriptSource: 'inline'
    script: |
      import os
      artifactsDirectory = os.environ['Build_ArtifactStagingDirectory']
      siteDirectory = os.path.join(artifactsDirectory, 'DashDashVersion_site')
      os.chdir(siteDirectory)
      os.system('git config --global user.email "kees.zijlmans@hightechict.nl"')
      os.system('git config --global user.name "Azure-pipeline"')
      os.system('git remote -v')
      os.system('git add .')
      message = "New documentation generated for version: {}".format(os.environ['SemVer'])
      os.system('git commit -am {}'.format(message))
      os.system('git push origin master')